@font-face {
    font-family: karla;
    src: url("./fonts/karla_regular.eot");
    src: url("./fonts/karla_regular.eot?#iefix") format('embedded-opentype'),
         url("./fonts/karla_regular.woff") format('woff'),
         url("./fonts/karla_regular.ttf") format('truetype'),
         url("./fonts/karla_regular.svg#karla_regular") format('svg');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: karla_bold;
    src: url("./fonts/karla_bold.ttf");
    src: url("./fonts/karla_bold.eot?#iefix") format('embedded-opentype'),
         url("./fonts/karla_bold.woff") format('woff'),
         url("./fonts/karla_bold.ttf") format('truetype'),
         url("./fonts/karla_bold.svg#karla_bold") format('svg');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: karla_italic;
    src: url("./fonts/karla_italic.ttf");
    src: url("./fonts/karla_italic.eot?#iefix") format('embedded-opentype'),
         url("./fonts/karla_italic.woff") format('woff'),
         url("./fonts/karla_italic.ttf") format('truetype'),
         url("./fonts/karla_italic.svg#karla_italic") format('svg');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: karla_bolditalic;
    src: url("./fonts/karla_bolditalic.ttf");
    src: url("./fonts/karla_bolditalic.eot?#iefix") format('embedded-opentype'),
         url("./fonts/karla_bolditalic.woff") format('woff'),
         url("./fonts/karla_bolditalic.ttf") format('truetype'),
         url("./fonts/karla_bolditalic.svg#karla_bolditalic") format('svg');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: pacifico;
    src: url("./fonts/pacifico.ttf");
}
